<div class="col-lg-12">
  <div class="row form">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <p><%= link_to "Add Person", "/admin?command=add_person" %></p>
      <p><%= link_to "Add Resource", "/admin?command=add_resource" %></p>
    </div>
  </div>
</div>
