<div class="col-lg-12">
  <div class="center">
    <%= image_tag("step4.png") %>
  </div>
  <div class="col-lg-12">
    <div class="center">
      <%= link_to "イベント一覧へ", events_path, :class => "btn btn-primary withripple" %>
    </div>
    <br>
  </div>
</div>
