<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
  <%= image_tag("rule.png", :class => "img-responsive") %>
  <%= link_to "/events/new" do %>
    <%= image_tag("button.png", :class => "img-responsive") %>
  <% end %>
</div>
