<div class="row form_clear">
  <div class="col-lg-12 center">
    <%= image_tag("rule.png", :class => "img-responsive") %>
    <%= link_to "/events/new" do %>
      <%= image_tag("button.png") %>
    <% end %>
  </div>
</div>
