<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
  <%= image_tag("rule.png", :class => "img-responsive") %>
</div>
<div class="col-xs-4 col-xs-offset-4 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4">
<%= link_to "/events/new" do %>
    <%= image_tag("button.png", :class => "img-responsive") %>
  <% end %>
</div>